/* Variables - INICIO */
:root {
  --verde-limon: #88e23b;
  --texas: #ebe480;
  --tardis-azul: #043c6e;
  --endo: #60a85f;
  --misterio: #a6cccc;
  --calla-green: #6b7132;

  --fondo: rgb(26, 26, 130);
  --azul: #2196f3;
  --azulOscuro: blue;
  --rosa: pink;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;

  --fuenteRickAndMorty: 'Creepster', system-ui;
  --fuentePrincipal: 'Comic Neue', cursive;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Variables - FINAL */

/* Globales - INICIO*/
body {
  /* background-color: var(--endo); */
  background: url("./img/fondo-webp.webp");
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center;
  
  
  font-family: "Lato", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor-principal{
  max-width: 120rem;
  margin: 0 auto;;
}
h1, h2, h3{
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuenteRickAndMorty);
}
h1{
  font-size: 5rem;
  text-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
}
h2{
  font-size: 2.4rem;
  text-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
}
h3{
  font-size: 2.4rem;
 
}
form{
  margin-left: 20px;
  padding-top: 20px;
}
label {
  margin: 10px 0px 0px 10px;
  font-size: 20px;
}
input {
  margin: 10px;
  font-size: 20px;
}
button {
  margin: 10px 0px 0px 10px;
  font-size: 20px;
  font-family: var(--fuentePrincipal);
  
}
p {
  font-family: var(--fuentePrincipal);
  font-weight: 700;
}

/* Globales - FINAL*/

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #3b82f6;
}
.subtitle {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Para App*/
/* .header {
  background-color: var(--verde-limon);
  padding: 1rem 0;
}
.header-titulo{
  margin: 0 0;
}

span {
  color: rgb(26, 26, 130);
}

.container{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
} */

/* Para Cards*/
.homeContenedor {
  max-width: 150rem;
  margin: 0 auto;
}
.cardsContainer{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
  text-decoration: none; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .cardsContainer {
      grid-template-columns: repeat(4, 1fr);
  }
}


.contenedorCards {
 /* display: flex; */
 background-color: var(--fondo);
 /* margin: 1em; */
 text-decoration: none;
 font-weight: bold;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
} */

/* Para Card */
.cardContainer {
  margin: 10px;
  /* background-color: var(--texas); */
  background: linear-gradient(var(--azulOscuro), var(--rosa));
  
  border-radius: 0px 20px 0px 20px;
  padding: 12px;
  position: relative;
  width: 350px;
}
.btnContainer{
  background-color: var(--texas);
  font-weight: 200;
  cursor: pointer;
}
.imgNombreContainer{
  position: relative;
  width: 100%;
  max-height: 320px;
  overflow: hidden;
}
.imgNombreContainer span {
  color: var(--negro);
  font-family: var(--fuenteRickAndMorty);
  text-shadow: none;
  font-weight: 700;
}
.datosContainer{
  font-size: 15px;
  display: flex;
  gap: 2px;
  
  
}
.datosContainer h3 {
  font-weight: bold;
  color: darkblue;
}
.datosContainer span {
  color: var(--negro);
}

.imagen {
  width: 100%;
}
.btnFavorite {
  font-size: 20px;
  background-color: var(--misterio);
  border-radius: 0px 0px 0px 14px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  left: 10px;
  z-index: 1; /*Prioriza los elementos superpuestos*/
}
.btn {
  font-size: 20px;
  background-color: rgb(168, 224, 37);
  font-weight: 700;
  cursor: pointer;
  border-radius: 0px 0px 0px 14px;
  position: absolute;
  right: 10px;
  z-index: 1; /*Prioriza los elementos superpuestos*/
}

.name {
  position: absolute;
  top: 240px;
  background-color: rgba(75, 218, 75, 0.781);
  border-radius: 8px;
  margin-left: 8px;
  padding: 5px 10px 5px 10px;
  box-shadow: rgb(17,17,17) 0px 3px 3px;
  border: 1.5px solid gray;
}




/* Para Search Bar*/

.searchContainer{
  /* display: flex;
  padding: 30px 20px; */
  /* background-color: var(--fondo); */
  background: rgb(0,16,36);
  background: linear-gradient(90deg, rgba(0,16,36,0.7147233893557423) 0%, rgba(34,198,22,1) 23%, rgba(0,212,255,0.7455357142857143) 100%);
  justify-content: end;
  width: 50rem;
  border-radius: 20px;
}

/* .searchInput {
  float: right;
  padding-bottom: 5px;
} */

.inputSearch {
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.btnSearch {
  display: inline-block;
  background-color: var(--endo);
  color: white;
  border-radius: 10px;
  /* font-size: 20px; */
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5em;
  cursor: pointer;

  &:hover{
    background-color: var(--texas);
    color: var(--negro);
  }
}



/* Para SearchBar*/
/* .contenedorSeachBar {
  font-size: 1.5em;
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
} */
/* .inputSearch {
  width: 25%;
  display: inline-block;
  background-color: var(--endo);
  padding: 0.7em;

} */

/* Para Nav*/
.navContainer{
  display: flex;
  /* padding: 30px 20px; */
  width: 190.3rem;
  padding: 1rem 0;
  /* background-color: var(--verde-limon); */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,56,198,1) 23%, rgba(9,32,121,0.7091211484593838) 55%, rgba(6,95,168,1) 81%, rgba(0,212,255,1) 100%);
  justify-content: space-between;
  gap: 2rem;
  
}
.navContainerLinks {
  /* background-color: var(--fondo); */
  background: rgb(0,16,36);
  background: linear-gradient(90deg, rgba(0,16,36,0.7147233893557423) 0%, rgba(34,198,22,1) 23%, rgba(0,212,255,0.7455357142857143) 100%);
  width: 116rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; 
  border-radius: 20px;
}
.navLink {
  font-family: var(--fuentePrincipal);
  background-color: var(--endo);
  color: var(--blanco);
  font-size: 3rem;
  padding: 1rem;
  border-radius: 10px;
  /* padding-top: 2rem; */
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  
}
.navLink:hover{
  /* background-color: #262623c9; */
  background-color: var(--texas);
  color: var(--negro);
  line-height: 1.5;
}
/* .listItem:hover {
  background-color: #262623c9;
  color: beige;
} */



/* Para Detail  */
.detailContainer {
  width: 130rem;
  height: 65rem;
  border: 15px var(--negro);
  padding: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 14px;
  
  gap: 2rem;
  
  background-image: url("./img/fondoDetail.webp");
  background-position: center center;
  background-repeat: no-repeat;
}

.detailNombreImagen{
  background-color: var(--azul);
  overflow: hidden;
  width: 450px;  
  border-radius: 15px;
  box-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;;
}
.detailNombreImagen h3 {
  font-size: 33px;
}
.imagenDetail {
  
}
.detailContenedor {
display: flex;
justify-content: center;
}
.detailNombreImagen h3 {
  font-weight: bold;
  color: var(--blanco);
  text-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
}
.detailDescripcion{
  display: flex;
  flex-direction: column;  
}
.detailDescripcion h3 {
  font-weight: bold;
  color: darkblue;
  font-size: 33px;
}
.detailDescripcion span {
  color: var(--blanco);
  text-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
}


/* Para Formulario */

.formContainer {
  /* display: flex; */
  background-image: url("./img/fondoAbout.webp");
	background-size: cover;

  min-height: 30rem;
  margin: 10rem auto;
  max-width: 30%;
  padding: .5rem;
  border-radius: 15px;
  box-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  
}
.formContainer span {
  color: red;
}
.inputContainer {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}
.login-username, .login-password {

  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.loginSubmit {
  border: 1px solid white;
  background: var(--blanco);
  color: var(--negro);
  display: block;
  margin: 2rem auto;
  min-width: 1px;
  padding: .75rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: var(--texas);
    color: black;
    transition: 250ms background ease-in;
  }
}


/* Para Favorite */
.favoriteContenedor {
  max-width: 150rem;
  margin: 0 auto;
}

.favoriteContenedor select {
  font-size: 22px;
  margin-left: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 11px;
  background-color: var(--endo);
  box-shadow: 4px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  &:hover, &:focus {
    background: var(--texas);
    color: black;
    transition: 250ms background ease-in;
  }
}


/* Para About*/
.containerAbout{
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.imagenAbout {
  background-image: url("./img/fondoAbout.webp");
	background-size: cover;
} 

/* OTRO CSS*/
.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
}

.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem img {
  width: 50%;
  object-fit: cover;
  margin: 15px;
}


.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  /*width: 15vw;*/
  /* height: 15vh; */
  background-color: #fcff4f;
  padding: 1em;
  margin: 5px;
  font-weight: 500;
  border-radius: 5%;
}
.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem img {
  width: 50%;
  object-fit: cover;
  margin: 15px;
}

