:root {
  --verde-limon: #88e23b;
  --texas: #ebe480;
  --tardis-azul: #043c6e;
  --endo: #60a85f;
  --misterio: #a6cccc;
  --calla-green: #6b7132;

  --fondo: rgb(26, 26, 130);
  --azul: #2196f3;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;

  --fuenteRickAndMorty: 'Creepster', system-ui;

}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */
body {
  /* background-color: var(--endo); */
  background: url("./img/fondo-webp.webp");
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center;
  
  
  font-family: "Lato", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor-principal{
  max-width: 120rem;
  margin: 0 auto;;
}
h1, h2, h3{
  text-align: center;
  color: var(--negro);
  font-family: var(--fuenteRickAndMorty);
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 3.2rem;
}
h3{
  font-size: 2.4rem;
}


/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #3b82f6;
}
.subtitle {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Para App*/
/* .header {
  background-color: var(--verde-limon);
  padding: 1rem 0;
}
.header-titulo{
  margin: 0 0;
}

span {
  color: rgb(26, 26, 130);
}

.container{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
} */

/* Para Cards*/
.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  font-weight: bold;
  text-decoration: none;
  
}

.contenedorCards {
 /* display: flex; */
 background-color: var(--fondo);
 /* margin: 1em; */
 text-decoration: none;
 font-weight: bold;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
} */

/* Para Card */
.cardContainer {
  margin: 10px;
  background-color: var(--texas);
  padding: 12px;
  position: relative;
  width: 350px;
}
.btnContainer{
  background-color: var(--texas);
  font-weight: 200;
  cursor: pointer;
}
.imgNombreContainer{
  position: relative;
  width: 100%;
  max-height: 320px;
  overflow: hidden;
}


.datosContainer{
  font-size: 15px;
  
}
.datosContainer h3 {
  font-weight: bold;
  color: darkblue;
}
.datosContainer span {
  color: var(--negro);
}

.imagen {
  width: 100%;
}
.btn {
  font-size: 20px;
  background-color: rgb(168, 224, 37);
  font-weight: 300;
  cursor: pointer;
  border-radius: 0px 0px 0px 14px;
  padding: 0px 0px 0px 8px;
  position: absolute;
  right: 10px;
  z-index: 1; /*Prioriza los elementos superpuestos*/
}

.name {
  position: absolute;
  top: 240px;
  background-color: rgba(75, 218, 75, 0.781);
  border-radius: 8px;
  margin-left: 8px;
  padding: 5px 10px 5px 10px;
  box-shadow: rgb(17,17,17) 0px 3px 3px;
  border: 1.5px solid gray;
}




/* Para Search Bar*/

.searchContainer{
  /* display: flex;
  padding: 30px 20px; */
  background-color: var(--fondo);
  justify-content: end;
}

/* .searchInput {
  float: right;
  padding-bottom: 5px;
} */

.inputSearch {
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.btnSearch {
  display: inline-block;
  background-color: var(--endo);
  color: white;
  border-radius: 10px;
  /* font-size: 20px; */
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5em;
  cursor: pointer;

  &:hover{
    background-color: var(--verde-limon);
  }
}

/* Para SearchBar*/
/* .contenedorSeachBar {
  font-size: 1.5em;
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
} */
/* .inputSearch {
  width: 25%;
  display: inline-block;
  background-color: var(--endo);
  padding: 0.7em;

} */

/* Para Nav*/
.navContainer{
  display: flex;
  padding: 30px 20px;
  background-color: var(--verde-limon);
  justify-content: end;
  
}









/* OTRO CSS*/
.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
}

.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem img {
  width: 50%;
  object-fit: cover;
  margin: 15px;
}






















.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  /*width: 15vw;*/
  /* height: 15vh; */
  background-color: #fcff4f;
  padding: 1em;
  margin: 5px;
  font-weight: 500;
  border-radius: 5%;
}
.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem img {
  width: 50%;
  object-fit: cover;
  margin: 15px;
}

